<h1>Dr. <%= @doctor.name %> : Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />
<h2>Patients</h2>

<ol>
  <% @doctor.appointments.each do |appt| %>
    <li>

      <% hypochon = Patient.find(appt.patient_id) %>
      <%= hypochon.full_name %>
      
      <br />
      
    </li>
  <% end %>
</ol>
<br />
<h2></h2>
